:root {
  --textColor: green;
  --textOffColor: #7c858d;
  --baseColor: #ffffff;
  --secondaryColor: #ff5f01
}

.form-img {
  position: absolute;
  margin-left: 35em;
  height: 45%;
  margin-top: 1.1em;
}

.forgot-password-wrapper {
  margin-left: -5em;;
}

body {
  background-image: url("../img/background.jpg") !important;
  color: var(--textColor);
  font-size: 18px;
}


.login-pf-page-header {
  display: none;
}

.kc-base-logo-wrapper {
  text-align: center;
}

.kc-base-logo {
  width: 20%;
}

/* Login Card */

.card-pf {
  border-color: var(--secondaryColor);
  margin-left: 45em;
}

/* Card Title */

.login-pf-page .login-pf-header {
  margin-bottom: 50px;
}

#kc-page-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Login Form */

.login-pf-page .form-group {
  margin-bottom: 30px;
}

.login-pf-page .form-control {
  border: none;
  padding: 22px 30px;
  font-size: 18px;
  color: var(--textColor);
  height: auto;

  border-radius: 32px;
  background: var(--baseColor);
}

.login-pf-page .form-control::placeholder {
  font-style: normal;
  color: var(--textOffColor);
}

/* Reset Password Link */

#kc-form-reset-psw a {
  font-size: 16px;
  color: var(--textColor);
  padding-right: 8px;
}

#kc-form-buttons {
  margin-top: 50px;
}

/* Login Button */

#kc-login {
  background-color: var(--textColor);
}

#kc-login:hover {
  background-color: var(--secondaryColor);
}

.pf-c-form-control:hover {
  border-bottom-color: var(--secondaryColor);
}